<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find ss_sim)/world/sample.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
    </include>
    
    <node name="chf" pkg="ss_sim" type="orbital.py" output="screen"/>
    <node name="dep" pkg="ss_sim" type="orb.py" output="screen"/> 
    <node name="pose" pkg="ss_sim" type="pose_publisher.py" output="screen"/>
    <node name="pose1" pkg="ss_sim" type="pose_chief.py" output="screen"/>

  </launch>
  